body {
    background: #c2ded1;
    font-family: 'Nunito Sans', sans-serif;
}

#navbar {
    font-size: 1.1rem;
    font-weight: 100;
    border-bottom: 1px solid #e1f1ff;
}

#navbar .nav-link {
    color: white;
}

#navbar .nav-link:hover {
    color: #354259;
}

#navbar .navbar-brand {
    color: #354259;
}

.navbar.scrolled {
    background-color: #c2ded1;
    transition: background 500ms;
}

#navbar-toggler {
    border: none;
    box-shadow: none;
}

#title-head {
    font-weight: 100;
    font-size: 4rem;
}

.blurb h2 {
    color: #354259;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #3f4e4f;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

@media (max-width: 1200px) {
    #title-head h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}